@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

h1 {
  font-family: "Indie Flower", cursive;
  color: white;
}

body {
  min-height: 70vh;
  background-image: radial-gradient(GreenYellow, DeepPink, SlateBlue, DarkSlateBlue);
}



