@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

#titlefont{
  font-family: 'Gamja Flower', cursive;

}


img{
  border: 30px groove;
  border-color: pink;
  border-radius: 80%
}


p{
  color: purple;
  font-family: 'Gamja Flower', cursive;
}

