@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

#mainfont{
  font-family: 'Gamja Flower', cursive;

}

img{
  border: 30px groove;
  border-color: pink;
  border-radius: 80%
}




inback{
  background-color: purple;
}